<div>
    <h1 class="viewDetails">Details</h1>
    <div class="ad-box">
        <img src="{{imageUrl}}"/>
        <div id="details" class="details">
            <p><b>Title: {{title}}</b></p>
            <p>Description: {{description}}</p>
            <p>Publisher: {{publisher}}</p>
            <p>Published Date: {{date}}</p>
            <p><b>Price: {{price}}</b></p>
            <p>{{date}}</p>
        </div>
    </div>
</div>